jellyseerr:
  hostname: "jellyseerr.example.com"
  port: 5055
  protocol: "http"
  api_key: "{{ arrstack_instance_apikeys['jellyseer'] }}"
  settings:
     general:
      application_title: "Jellyseerr"
      application_url: null
      enable_proxy_support: false
      enable_csrf_protection: false
      enable_image_caching: false
      display_language: "en"
      discover_region: null
      discover_languages: []
      hide_available_media: false
      allow_partial_series_requests: true
     jellyfin:
      server_url: "http://localhost:8096"  # Jellyfin server URL, preferably direct (no proxy).
      username: "testing"  # Jellyfin server admin user.
      password: "secure-password"  # Jellyfin server admin user password.
      email_address: "invalid@example.com"  # Jellyfin server admin email address.
      # Jellyfin media libraries to monitor.
      # This can be used to change what libraries Jellyseerr monitors,
      # even after it is initialised.
      libraries:
        - "Shows"
        - "Movies"
    external_url: "http://example.com"