---
prowlarr:
  hostname: prowlarr
  port: 9696
  protocol: http
  url_base: null
  api_key: "{{ arrstack_instance_apikeys['prowlarr'] }}"
  image: lscr.io/linuxserver/prowlarr
  version: 1.21.2.4649
  settings:
    indexers:
      indexers:
        delete_unmanaged: false
        definitions:
          Badass Torrents:
            type: badasstorrents
            enable: true
            sync_profile: Standard
            redirect: false
            priority: 25
            query_limit: null
            grab_limit: null
            tags:
            - flaresolverr
            - privoxy
            fields:
              definitionFile: badasstorrents
              baseUrl: null
              baseSettings.limitsUnit: Day
              torrentBaseSettings.appMinimumSeeders: null
              torrentBaseSettings.seedRatio: null
              torrentBaseSettings.seedTime: null
              torrentBaseSettings.packSeedTime: null
              downloadlink: magnet
              downloadlink2: .torrent
            secret_fields: {}
          Internet Archive:
            type: internetarchive
            enable: true
            sync_profile: Standard
            redirect: false
            priority: 25
            query_limit: null
            grab_limit: null
            tags: []
            fields:
              definitionFile: internetarchive
              baseUrl: null
              baseSettings.limitsUnit: Day
              torrentBaseSettings.appMinimumSeeders: null
              torrentBaseSettings.seedRatio: null
              torrentBaseSettings.seedTime: null
              torrentBaseSettings.packSeedTime: null
              titleOnly: true
              noMagnet: false
              sort: created
              type: desc
            secret_fields: {}
      proxies:
        delete_unmanaged: true
        definitions:
          FlareSolverr:
            type: flaresolverr
            tags:
            - flaresolverr
            host_url: http://flaresolverr:8191/
            request_timeout: 60
          privoxy:
            type: http
            tags: 
              - privoxy
            hostname: qbittorrent
            port: 8080
            username: null
            password: null
    apps:
      applications:
        delete_unmanaged: true
        definitions:
          Radarr:
            type: radarr
            prowlarr_url: http://prowlarr:9696
            base_url: http://radarr-hd:7878
            instance_name: radarr
          Sonarr:
            type: sonarr
            prowlarr_url: http://prowlarr:9696
            base_url: http://sonarr-hd:8989
            instance_name: sonarr
      sync_profiles:
        delete_unmanaged: true
        definitions:
          Standard:
            enable_rss: true
            enable_interactive_search: true
            enable_automatic_search: true
            minimum_seeders: 1
    download_clients:
      delete_unmanaged: true
      definitions: {}
    notifications:
      delete_unmanaged: false
      definitions: {}
    tags:
      definitions:
      - flaresolverr
      - privoxy
    general:
      host:
        bind_address: '*'
        port: 9696
        ssl_port: 6969
        use_ssl: false
        ssl_cert_path: null
        ssl_cert_password: null
        url_base: null
        instance_name: Prowlarr
      security:
        authentication: form
        authentication_required: enabled
        username: olivia
        password: {{ arrstack_password }}
        certificate_validation: enabled
      proxy:
        enable: false
        proxy_type: http
        hostname: null
        port: 8080
        username: null
        password: null
        ignored_addresses: []
        bypass_proxy_for_local_addresses: true
      logging:
        log_level: INFO
      analytics:
        send_anonymous_usage_data: true
      updates:
        branch: master
        automatic: false
        mechanism: docker
        script_path: null
      backup:
        folder: Backups
        interval: 7
        retention: 28
    ui:
      first_day_of_week: sunday
      week_column_header: month-first
      short_date_format: word-month-first
      long_date_format: month-first
      time_format: twelve-hour
      show_relative_dates: true
      enable_color_impaired_mode: false
      theme: auto
      ui_language: en
