[Application]
FileLogger\Age=1
FileLogger\AgeType=1
FileLogger\Backup=true
FileLogger\DeleteOld=true
FileLogger\Enabled=true
FileLogger\MaxSizeBytes=66560
FileLogger\Path=/app/qBittorrent/data/logs

[BitTorrent]
Session\BTProtocol=TCP
Session\DefaultSavePath=/data/torrents
Session\DisableAutoTMMByDefault=false
Session\DisableAutoTMMTriggers\CategorySavePathChanged=false
Session\DisableAutoTMMTriggers\DefaultSavePathChanged=false
Session\ExcludedFileNames=
Session\GlobalMaxRatio=1
Session\MaxActiveDownloads=4
Session\MaxActiveTorrents=10
Session\MaxActiveUploads=5
Session\Port="{{ arrstack_torrent_port }}"
Session\Preallocation=true
Session\QueueingSystemEnabled=true

[Core]
AutoDeleteAddedTorrentFile=IfAdded

[Meta]
MigrationVersion=6

[Network]
Cookies=@Invalid()
PortForwardingEnabled=false

[Preferences]
Advanced\RecheckOnCompletion=true
General\Locale=en
MailNotification\req_auth=true
WebUI\AlternativeUIEnabled=true
WebUI\ClickjackingProtection=false
WebUI\HostHeaderValidation=false
WebUI\LocalHostAuth=false
WebUI\Password_PBKDF2="@ByteArray(39SjcZPX7dfOymSUxPhB8g==:aoZPzALki4bvwIbZBOwctNaL+1sUeelvuT/KSB8D7V+sAl087Vn1q8XYnzllJVJ3o+du9eFic2HycfSu1ljiZw==)"
WebUI\RootFolder=/app/nightwalker
WebUI\Username=olivia

[RSS]
AutoDownloader\DownloadRepacks=true
AutoDownloader\SmartEpisodeFilter=s(\\d+)e(\\d+), (\\d+)x(\\d+), "(\\d{4}[.\\-]\\d{1,2}[.\\-]\\d{1,2})", "(\\d{1,2}[.\\-]\\d{1,2}[.\\-]\\d{4})"
