---
sonarr:
  hostname: sonarr-hd
  port: 8989
  protocol: http
  url_base: null
  api_key: "{{ arrstack_instance_apikeys['sonarr-hd'] }}"
  version: 4.0.8.1874
  settings:
    media_management:
      rename_episodes: true
      replace_illegal_characters: true
      standard_episode_format: '{Series TitleYear} - S{season:00}E{episode:00} - {Episode
        CleanTitle} [{Custom Formats }{Quality Full}]{[MediaInfo VideoDynamicRangeType]}{[Mediainfo
        AudioCodec}{ Mediainfo AudioChannels]}{[MediaInfo VideoCodec]}{-Release Group}'
      daily_episode_format: '{Series TitleYear} - {Air-Date} - {Episode CleanTitle}
        [{Custom Formats }{Quality Full}]{[MediaInfo VideoDynamicRangeType]}{[Mediainfo
        AudioCodec}{ Mediainfo AudioChannels]}{[MediaInfo VideoCodec]}{-Release Group}'
      anime_episode_format: '{Series TitleYear} - S{season:00}E{episode:00} - {absolute:000}
        - {Episode CleanTitle} [{Custom Formats }{Quality Full}]{[MediaInfo VideoDynamicRangeType]}[{MediaInfo
        VideoBitDepth}bit]{[MediaInfo VideoCodec]}[{Mediainfo AudioCodec} { Mediainfo
        AudioChannels}]{MediaInfo AudioLanguages}{-Release Group}'
      series_folder_format: '{Series TitleYear} [tvdbid-{TvdbId}]'
      season_folder_format: Season {season:00}
      specials_folder_format: Specials
      multiepisode_style: prefixed-range
      create_empty_series_folders: false
      delete_empty_folders: true
      episode_title_required: always
      skip_free_space_check: false
      minimum_free_space: 100
      use_hardlinks: true
      import_extra_files: false
      unmonitor_deleted_episodes: true
      propers_and_repacks: do-not-prefer
      analyze_video_files: true
      rescan_series_folder_after_refresh: always
      change_file_date: none
      recycling_bin: null
      recycling_bin_cleanup: 7
      set_permissions: false
      chmod_folder: drwxr-xr-x
      chown_group: null
      root_folders:
      - /data/media/tv-hd
    profiles:
      quality_profiles:
      delete_unmanaged: true
        definitions:
          Web-HD:
            upgrades_allowed: true
            qualities:
            - name: Blurray/WEB 1080p
              members:
              - WEBDL-1080p
              - WEBRip-1080p
              - Bluray-1080p
              - Bluray-1080p Remux
              - Bluray-720p
            upgrade_until: Blurray/WEB 1080p
      language_profiles:
        definitions:
          Deprecated:
            upgrades_allowed: true
            languages:
            - english
            upgrade_until: english
      delay_profiles:
        definitions:
        - preferred_protocol: usenet-prefer
          usenet_delay: 0
          torrent_delay: 0
          bypass_if_highest_quality: true
          tags: []
      release_profiles:
        definitions: {}
    quality:
      trash_id: "bef99584217af744e404ed44a33af589"
    download_clients:
      delete_unmanaged: true
      enable_completed_download_handling: true
      redownload_failed: true
      definitions:
        qBittorrent (hd):
          enable: true
          priority: 1
          remove_completed_downloads: true
          remove_failed_downloads: true
          tags: []
          host: qbittorrent
          port: 8080
          use_ssl: false
          url_base: null
          username: olivia
          password: {{ arrstack_password }}
          category: tv-hd
          postimport_category: null
          recent_priority: last
          older_priority: last
          initial_state: start
          sequential_order: false
          first_and_last_first: false
      remote_path_mappings:
        definitions: []
    import_lists:
      definitions: {}
    connect:
      definitions: {}
    metadata:
      kodi_emby:
        enable: false
        series_metadata: true
        series_metadata_url: false
        episode_metadata: true
        series_images: true
        season_images: true
        episode_images: true
      roksbox:
        enable: false
        episode_metadata: true
        series_images: true
        season_images: true
        episode_images: true
      wdtv:
        enable: false
        episode_metadata: true
        series_images: true
        season_images: true
        episode_images: true
    tags:
      definitions: []
    general:
      host:
        bind_address: '*'
        port: 8989
        ssl_port: 9898
        use_ssl: false
        url_base: null
        instance_name: sonarr
      security:
        authentication: form
        authentication_required: enabled
        username: olivia
        password: {{ arrstack_password }}
        certificate_validation: enabled
      proxy:
        enable: false
        proxy_type: http
        hostname: null
        port: 8080
        username: null
        password: null
        ignored_addresses: []
        bypass_proxy_for_local_addresses: true
      logging:
        log_level: INFO
      analytics:
        send_anonymous_usage_data: true
      updates:
        branch: main
        automatic: false
        mechanism: docker
        script_path: null
      backup:
        folder: Backups
        interval: 7
        retention: 28
    ui:
      first_day_of_week: sunday
      week_column_header: month-first
      short_date_format: word-month-first
      long_date_format: month-first
      time_format: twelve-hour
      show_relative_dates: true
      enable_color_impaired_mode: false
