# use graphical installer
# graphical
text

# add base repositories with mirrors
repo --name="alamalinux9-baseos" --mirrorlist="https://mirrors.almalinux.org/mirrorlist/9/baseos"
repo --name="alamalinux9-appstream" --mirrorlist="https://mirrors.almalinux.org/mirrorlist/9/appstream"

repo --name="Kubernetes" --baseurl=https://pkgs.k8s.io/core:/stable:/v1.32/rpm/ 
repo --name="Docker" --baseurl=https://download.docker.com/linux/rhel/$releasever/$basearch/stable

# add epel repo with mirrors
repo --name="epel9-everything" --mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?repo=epel-9&arch=x86_64"

# add CRB with mirrors
repo --name="CRB" --mirrorlist="https://mirrors.almalinux.org/mirrorlist/9/crb/"

# use internet install
url --url="https://repo.almalinux.org/almalinux/9/BaseOS/x86_64/kickstart/"

# set hostname (link is the first device that is up)
network --device=link --bootproto=dhcp --hostname="localhost"

# set locale and keyboard layout
keyboard --xlayouts='gb'
lang en_US.UTF-8

# packages or groups to install
%packages --excludedocs --ignoremissing

@core
epel-release

openssh-server
kubelet
kubeadm
kubectl
containerd.io
@guest-agents
cloud-init
sudo
nftables
iptables
container-selinux
-firewalld
-iwl*
-ivtv-firmware
-alsa*
%end

%addon com_redhat_kdump --disable
%end

selinux --enforcing

# enable first boot agent
firstboot --disable

# Generated using Blivet version 3.6.0
ignoredisk --only-use=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
autopart --noswap --fstype=xfs


# set timezone and use UTC
timezone Europe/London --utc

# disable root account
rootpw --lock

# create user with multiple groups and password in plaintext
user --groups=wheel --name=provision --password="Password1" --plaintext --gecos="packer"

services --enabled kubelet,sshd,containerd,qemu-guest-agent

reboot --kexec
# poweroff

%post
#!/bin/sh
echo "%wheel        ALL=(ALL)       NOPASSWD: ALL" > /etc/sudoers.d/wheel


dnf config-manager --set-enabled crb
cat <<EOF | sudo tee /etc/yum.repos.d/kubernetes.repo
[kubernetes]
name=Kubernetes
baseurl=https://pkgs.k8s.io/core:/stable:/v1.32/rpm/
enabled=1
gpgcheck=1
gpgkey=https://pkgs.k8s.io/core:/stable:/v1.32/rpm/repodata/repomd.xml.key
exclude=kubelet kubeadm kubectl cri-tools kubernetes-cni
EOF
dnf config-manager --add-repo https://download.docker.com/linux/rhel/docker-ce.repo

cat <<EOF > /etc/modules-load.d/containerd.conf
overlay
br_netfilter
EOF

cat <<EOF > /etc/sysctl.d/99-kubernetes.conf
net.bridge.bridge-nf-call-ip6tables = 1
net.bridge.bridge-nf-call-iptables = 1
net.ipv4.ip_forward = 1
net.ipv6.conf.all.forwarding = 1
EOF

containerd config default | sudo tee /etc/containerd/config.toml
sed -i 's/SystemdCgroup = false/SystemdCgroup = true/' /etc/containerd/config.toml
sed -i 's/^sandbox_image = .*/sandbox_image = "registry.k8s.io\/pause:3.10"/' /etc/containerd/config.toml

systemctl restart containerd

%end
