# use graphical installer
# graphical
text

# add base repositories with mirrors
repo --name="alamalinux9-baseos" --mirrorlist="https://mirrors.almalinux.org/mirrorlist/9/baseos"
repo --name="alamalinux9-appstream" --mirrorlist="https://mirrors.almalinux.org/mirrorlist/9/appstream"

# add epel repo with mirrors
repo --name="epel9-everything" --mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?repo=epel-9&arch=x86_64"

# add CRB with mirrors
repo --name="CRB" --mirrorlist="https://mirrors.almalinux.org/mirrorlist/9/crb/"

# use internet install
url --url="https://repo.almalinux.org/almalinux/9/BaseOS/x86_64/kickstart/"

# set hostname (link is the first device that is up)
network --device=link --bootproto=dhcp --hostname="localhost"

# set locale and keyboard layout
keyboard --xlayouts='us'
lang en_US.UTF-8

# packages or groups to install
%packages --excludedocs --ignoremissing
@core
epel-release
nfs-utils
openssh-server
@guest-agents
bash-completions
nftables
iptables
cloud-init
sudo 
-firewalld
-iwl*
-ivtv-firmware
-alsa*
%end

%addon com_redhat_kdump --disable
%end

selinux --enforcing

# enable first boot agent
firstboot --disable

# Generated using Blivet version 3.6.0
ignoredisk --only-use=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
autopart --noswap --fstype=xfs


# set timezone and use UTC
timezone Europe/London --utc

# disable root account
rootpw --lock

# create user with multiple groups and password in plaintext
user --groups=wheel --name=provision --password="Password1" --plaintext --gecos="packer"

services --enabled sshd,qemu-guest-agent,nfs-server

reboot --kexec
# poweroff

%post
#!/bin/sh
echo "%wheel        ALL=(ALL)       NOPASSWD: ALL" > /etc/sudoers.d/wheel

dnf config-manager --set-enabled crb
%end
