frontend default_frontend
  bind ${config.bind}
  mode tcp
  option tcplog
  default_backend default_backend

backend default_backend
  mode tcp
  option tcplog
  option tcp-check
  balance ${config.balance}
  default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
%{for s in config.servers ~}
  server server${index(config.servers, s)} ${s} check
%{endfor}