---
- name: Reset opc password for debugging
  hosts: wireguard-oci
  pre_tasks:
    - name: Reset opc user password
      ansible.builtin.user:
        name: opc
        password: $6$rounds=656000$mysecretsalt$bt4UIMNYnPD6yfAsuQs2.da7EBtjIJCS/GFDNkL6k0VsWKFVFbxhXuugCPrHDbire1lEiBe.5uF4iYeeI1EpJ.
      become: true
  tags:
    - debug

- name: Initial setup
  hosts: all:!laptop
  tasks:
    - name: Remove firewalld
      ansible.builtin.dnf:
        name: firewalld
        state: absent
      become: true
    - name: System update
      ansible.builtin.dnf:
        name:
          - "*"
        state: latest
      become: true
      tags:
        - update
    - name: Install packages
      ansible.builtin.dnf:
        name:
          - tar
          - yum-utils
          - nftables
        state: latest
      become: true
    - name: Add nftable rules
      ansible.builtin.template:
        src: ../templates/homelab-ruleset.nft.j2
        dest: /etc/nftables.nft
        owner: root
        group: root
        mode: "0644"
      become: true
    - name: Check nftables is started
      ansible.builtin.systemd_service:
        name: nftables
        state: started
        enabled: true
      become: true
    - name: Apply firewall rules
      ansible.builtin.command:
        cmd: nft -f /etc/nftables.nft
      become: true
    - name: System update
      ansible.builtin.dnf:
        name:
          - "*"
        state: latest
      become: true
      tags:
        - update
    - name: Check if nodes need rebooting
      ansible.builtin.command:
        cmd: needs-restarting -r
      register: result
      ignore_errors: true
    - name: Reboot if needed
      ansible.builtin.reboot:
      become: true
      when: result.rc == 1
    - name: Wait for instances to come back online
      ansible.builtin.wait_for_connection:
  tags:
    - setup
