[Unit]
Description=AdGuardHome DNS

[Service]
StartLimitInterval=5
StartLimitBurst=10
ExecStart={{ service_adguard_adguard_location }} -c /home/olivia/adguardhome.yml


User=root
Group=root

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
