#!/bin/sh

wget -p /tmp https://github.com/AdguardTeam/AdGuardHome/releases/latest/download/AdGuardHome_linux_amd64.tar.gz
tar -xvzf 
cp /tmp/AdGuardHome/AdGuardHome {{ service_adguard_adguard_location }}
systemctl restart adguardhome
